# Rename this file ("template.env") to ".env"
PORT= # e.g., 8080
BQ_MAX_COST_PER_QUERY= # e.g., 0.50
BQ_PRICE_PER_TIB=6.25 # current BigQuery on-demand compute costs per TiB
ENFORCE_MODE= # true, or false (for testing)